{% extends "maitre.twig" %}
{% block content %}
<h1 id="Salarie">{{titre}}</h1>
<form method="post">
<input type='text' size='30' name='recherche' placeholder='Entrez Nom ou Prénom...' >
<input type='submit' value='Recherche'>
<input type='reset' value='Annuler'>
</form>
{% endblock %}

{# Exemple RouterJS #}
{% block javascript %}
  {{ parent() }}
<script>
  // alert("Coucou les auditeurs !");
</script>
{% endblock %}
