{% extends "maitre.twig" %}
{% block content %}
<div class="container text-center">
  <h3 ><i class="fa fa-book"></i>&nbsp;Liste des détails de type de sortie&nbsp;
    <a class="btn btn-outline-success btn-sm" href="{{path_for('newdetailsortie')}}"><i class="fa fa-copy"></i>&nbsp;Nouveau détail de sortie</a>
  </h3>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Type de Sortie</th>
      <th scope="col">Détails de sortie</th>
    </tr>
  </thead>
  <tbody>
    {% for ligne in lignes %}
      <tr>
        <td> {{ligne.sortie}}   </td>
        <td> {{ligne.typesortie}}</td>
      </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
{# Exemple RouterJS #}
{% block javascript %}
  {{ parent() }}
{% endblock %}
